* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    color: rgb(0, 0, 0);
}

body {
    background-color: #f2f2f2;
}

/* logo and nav bar */

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.brand-name {
    font-size: 1.3rem;
    font-weight: 800;
    color: #ea7406;
}

.icon {
    color: #ea7406;
    font-size: 1rem;
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.dashSymbol {
    font-size: 0.9rem;
    color: #4d4d4d;
}

.nav-links a {
    text-decoration: none;
    color: #484848;
    font-weight: 600;
}

/* main body */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* callender container or date container */

.date-container {
    height: 3rem;
    width: 60%;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.date-container .date:last-child {
    background-color: #dcdcdc;
}

.date {
    height: 2.5rem;
    width: 2rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.date:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.dtmain {
    font-size: 1.3rem;
}

.dtbtm {
    font-size: 0.7rem;
    color: #3c3c3c;
}

/* section containing cards  */
.section {
    width: 60%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
}

.heading {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: #ea7406;
}

/* first section */
.habits-ctr {
    width: 60%;
    height: 45vh;
    background-color: #fcfcfc;
    position: relative;
}

.comp-ctr {
    width: 40%;
    height: 45vh;
    background-color: #fcfcfc;
}

/* second section */
.ctr1 {
    width: 50%;
    height: 45vh;
    background-color: #fcfcfc;
    position: relative;
}

.ctr2 {
    width: 50%;
    height: fit-content;
    background-color: #fcfcfc;
    position: relative;
}

/* form for add tasks */
.form {
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.filter {
    top: 0.5rem;
    right: 1rem;
    position: absolute;
}

.filter-det {
    color: #4d4d4d;
}

.dropdown {
    background-color: #ffffffb7;
    border-radius: 5px;
    outline: none;
}

.dropdown:hover {
    transform: translateY(-2px);
}

.form-elm {
    display: flex;
    margin-bottom: 0.8rem;
    align-items: center;
    justify-content: space-between;
}

.label {
    color: #393939;
}

.input {
    width: 40%;
    margin-left: 1rem;
    border: none;
    border: 1px solid #bababa;
    padding: 0.1rem 0 0.1rem 1rem;
}

.type {
    color: #393939;
    margin-bottom: 0.5rem;
}

.radio-bt {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.radio-bt:nth-of-type(1) {
    accent-color: #EB4C4C;
}

.radio-bt:nth-of-type(2) {
    accent-color: #FFA95A;
}

.radio-bt:nth-of-type(3) {
    accent-color: #65c14e;
}

.btn-ctr {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.btn,
.btn2 {
    border: none;
    padding: 0.2rem 0.5rem;
    color: #ffffff;
    background-color: #ed8c30;
    border-radius: 3px;
}

.btn:hover,
.btn2:hover {
    background-color: #ec7f19;
    transform: translateY(-2px);
}

/* to do list card style */
.list {
    width: 100%;
    max-height: 40vh;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.list::-webkit-scrollbar {
    width: 8px;

}

.list::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 6px;
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

.itm-ctr {
    width: 100%;
    height: 2rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.prior {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin-left: 0.5rem;
}

.high {
    background-color: #EB4C4C;
}

.medium {
    background-color: #FFA95A;
}

.low {
    background-color: #65c14e;
}

.check {
    position: absolute;
    right: 1rem;
}

.task {
    text-transform: capitalize;
    font-size: 1.1rem;
}

.completed {
    color: #464646b7;
    text-decoration: line-through;
}

.fa-square-check {
    color: green;
}

.space {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* habits form */
.color-picker {
    width: 15px;
    height: 15px;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background: none;
    margin-left: 1rem;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.inputStyle {
    border: none;
    border: 1px solid #bababa;
    border-radius: 5px;
    color: #393939;
}

/* habit list container */

.habits {
    width: 100%;
}

.habit-ctr {
    width: 95%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}

.left-top {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.h-color {
    height: 8px;
    width: 8px;
    background-color: #cdcdcd;
    border-radius: 50%;
}

.h-name {
    text-transform: capitalize;
    font-size: 1.1rem;
}

.h-categ {
    font-size: 0.9rem;
    color: #4d4d4d;
    padding-left: 0.7rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.h-check i {
    font-size: 1.1rem;
    color: #474747;
}

.quant {
    font-size: 0.9rem;
    color: #4d4d4d;
}