* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    color: rgb(0, 0, 0);
}

body {
    background-color: #f2f2f2;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.brand-name {
    font-size: 1.3rem;
    font-weight: 800;
    color: #ea7406;
}

.icon {
    color: #ea7406;
    font-size: 1rem;
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.dashSymbol {
    font-size: 0.9rem;
    color: #4d4d4d;
}

.nav-links a {
    text-decoration: none;
    color: #484848;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-container {
    height: 3rem;
    width: 60%;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.date-container .date:last-child {
    background-color: #dcdcdc;
}

.date {
    height: 2.5rem;
    width: 2rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.date:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.dtmain {
    font-size: 1.3rem;
}

.dtbtm {
    font-size: 0.7rem;
    color: #5d5d5d;
}
.section{
    width: 60%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
}
.ctr{
    width: 50%;
    height: 50vh;
    background-color: #fcfcfc;
    position: relative;
}
.habits-ctr{
    width: 60%;
    height: 60vh;
    background-color: #fcfcfc;
    position: relative;
}

.comp-ctr{
    width: 40%;
    height: 60vh;
    background-color: #fcfcfc;
}
.heading{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    color: #ea7406;
}
.add{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background-color: #ed8c30;
    font-size: 0.9rem;
    color: #ffffff;
}
.add:hover{
    background-color: #ec7f19;
}
