* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    color: rgb(0, 0, 0);
}

body {
    background-color: #f2f2f2;
    
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-box {
    height: 3rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 5px;
}

.heading1 {
    margin-left: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ea7406;
}

.symbol {
    margin-right: 1rem;
    color: #464646;
}

.symbol:hover {
    color: #111111;
}

/* main  */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



/* section 1 container  */

.section1 {
    height: fit-content;
    width: 60%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box{
    height: fit-content;
    width: 33%;
    background-color: #464646;
    background-color: #ffffff;
    position: relative;
    padding: 1rem;
}

.heading {
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 0.5rem;
    color: #ea7406;
}
.icon{
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 9px;
    right: 1.5rem;
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icn-bg1{
    background-color: #feefc3;
}
.icn-bg2{
    background-color: #ffdbd7;
}
.icn-bg3{
    background-color: #d3f4c3;
}
.ic1{
    color: #ffd24b;
    font-size: 1.5rem;
}
.ic2{
    color: #C44A3A;
    font-size: 1.5rem;
}
.ic3{
    color: #6FAF4F;
    font-size: 1.5rem;
}
.details{
    margin-top: 0.7rem;
    margin-left: 1.2rem;
    
}
.det1{
    font-size: 1.8rem;
    color:#363636;
}
.det2{
    font-size: 0.9rem;
    color: #616161;
}

/* section 2 container  */

.section2 {
    height: 60vh;
    width: 60%;
    background-color: #ffffff;;
    position: relative;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.chart-container{
    height: 52vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown{
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}
.dropdownMain{
    background-color: #fcfcfcb7;
    border-radius: 5px;
    outline: none;
}
.dropdownMain:hover{
    transform: translateY(-2px);
}
@media (max-width:1024px) {
    .heading-box,.section1,.section2{
        width: 80%;
    }
    
}
@media (max-width:870px){
    .heading-box,.section1,.section2{
        width: 90%;
    }
    .details{
        margin-left: 0.6rem;
    }
}
@media (max-width:630px){
    .heading1{
        font-size: 1.3rem;
    }
    .icon{
        height: 40px;
        width: 40px;
    }
    .ic1,.ic2,.ic3{
        font-size: 1.2rem;
    }
    .heading{
        font-size: 1rem;
    }
    .det1{
        font-size: 1.2rem;
    }
    .det2{
        font-size: 0.6rem;
    }
    .filter{
        font-size: 0.8rem;
    }
    .dropdownMain{
        font-size: 0.8rem;
    }
}
@media (max-width:580px) {
    .box{
        padding: 6px;
    }
    .heading{
        padding-left: 0;
    }
    .icon{
        right: 0.5rem;
    }
}
@media (max-width:480px){
    .section1{
        flex-wrap: wrap;
    }
    .box{
        width: 45%;
        padding: 1rem;
    }
    .dropdown{
        right: 0.5rem;
    }

}
@media (max-width:370px){
    .filter{
        display: none;
    }
    .box{
        width: 90%;
        padding: 1rem;
    }
}