* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    color: rgb(0, 0, 0);
}

body {
    background-color: #f2f2f2;
    
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-box {
    height: 3rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 5px;
}

.heading1 {
    margin-left: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ea7406;
}

.symbol {
    margin-right: 1rem;
    color: #464646;
}

.symbol:hover {
    color: #111111;
}

/* main  */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



/* section 1 container  */

.section1 {
    height: 18vh;
    width: 60%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.box{
    height: 18vh;
    width: 33%;
    background-color: #464646;
    background-color: #ffffff;
    position: relative;
}

.heading {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: #ea7406;
}
.icon{
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 9px;
    right: 1.5rem;
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icn-bg1{
    background-color: #feefc3;
}
.icn-bg2{
    background-color: #ffdbd7;
}
.icn-bg3{
    background-color: #d3f4c3;
}
.ic1{
    color: #ffd24b;
    font-size: 1.5rem;
}
.ic2{
    color: #C44A3A;
    font-size: 1.5rem;
}
.ic3{
    color: #6FAF4F;
    font-size: 1.5rem;
}
.details{
    margin-top: 0.7rem;
    margin-left: 1.2rem;
    
}
.det1{
    font-size: 1.8rem;
    color:#363636;
}
.det2{
    font-size: 0.9rem;
    color: #616161;
}

/* section 2 container  */

.section2 {
    height: 60vh;
    width: 60%;
    background-color: #ffffff;;
    position: relative;
}

.chart-container{
    height: 52vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown{
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}
.dropdownMain{
     background-color: #fcfcfcb7;
    border-radius: 5px;
    outline: none;
}
.dropdownMain:hover{
    transform: translateY(-2px);
}